# Implanatação de algumas Bibliotacas

In [1]:
import csv
import numpy as np
import pandas as pd
import sys
from tkinter import Tk
from tkinter import filedialog
from datetime import date, datetime, timedelta
#import os
#from ciso8601 import parse_datetime

# Criando variaveis para os arquivos permitidos

In [2]:
param8     = pd.read_excel('LQ404.xlsx')      ### leitura do arquivo com o layout atualizado do quadro 404

In [3]:
## FUNÇÃO PARA SELEÇÃO DO ARQUIVO

class qe_s:

    def __init__(self):
        self.df = {nome[s]: [] for s in range(nome.shape[0])}
  
    def make_df(self):
        lines = []
        root = Tk()
        root.attributes("-topmost", True)
        root.withdraw()
        for file in filedialog.askopenfilenames(filetypes=[("Arquivos de Text", "*.txt")]):
            for line in open(file, encoding="utf-8"):
                line = line.replace(",",".").strip()
                for x in range(nome.shape[0]):
                    self.df[nome[x]].append(line[i[x]:j[x]])
                    
        return pd.DataFrame(self.df)

In [4]:
nome     = param8.Campo                      ### guarda os nomes das colunas existentes no quadro 404
i        = param8.Ind_inf                    ### guarda a posição no arquivo que inicia um determinado campo
j        = param8.Ind_sup                    ### guarda a posição no arquivo que termina um determinado campo

quadro = qe_s()       
df_main = quadro.make_df()
df_main

## SELECINE O(S) ARQUIVO(S) DESEJADO(S)

,MSASEQ,ENTCODIGO,MRFMESANO,TPMORESSID,GRACODIGO,MSATIPOPERA,MSANUMSIN,MSANUMCONT,MSATIPOCONT,MSACODCESS,MSADATACOMUNICA,MSADATAREG,MSADATAOCORR,MSAVALORMOV,MSATIPOSIN,MSAMODCONT,MSAMOEDA,MSABASEIND,MSAVALORMON
0,0000001,38270,201901,001,03,1,99999999999999999999,00000000001126202_20130326,1,05436,99999999,99999999,99999999,0000000560.00,1,01,790,1,0000000000.00
1,0000002,38270,201901,003,03,1,99999999999999999999,00000000001126202_20140326,1,05436,99999999,99999999,99999999,-000003042.49,1,01,790,1,0000000000.00
2,0000003,38270,201901,001,07,1,99999999999999999999,00000000001126666_20121101,1,05151,99999999,99999999,99999999,0000000007.63,1,01,790,1,0000000000.00
3,0000004,38270,201901,003,07,1,99999999999999999999,00000000001126666_20131101,1,05151,99999999,99999999,99999999,-000802667.60,1,01,790,1,0000000000.00
4,0000005,38270,201901,003,07,1,99999999999999999999,00000000001126666_20141101,1,05151,99999999,99999999,99999999,-000087118.54,1,01,790,1,0000000000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,0001064,38270,201903,006,09,2,99999999999999999999,00000000015004765_20141001,1,54666,99999999,99999999,99999999,-000079359.80,1,01,790,1,0000000000.00
1064,0001065,38270,201903,003,09,2,99999999999999999999,00000000015004765_20150101,1,54666,99999999,99999999,99999999,-000987584.55,1,01,790,1,0000000000.00
1065,0001066,38270,201903,006,09,2,99999999999999999999,00000000015004765_20150101,1,54666,99999999,99999999,99999999,-000890094.27,1,01,790,1,0000000000.00
1066,0001067,38270,201903,001,09,2,99999999999999999999,000000I502682BR-1420141001,1,54666,99999999,99999999,99999999,0000781694.77,1,01,790,1,0000000000.00
1067,0001068,38270,201903,006,09,2,99999999999999999999,000000I502682BR-1420141001,1,54666,99999999,99999999,99999999,0000969454.07,1,01,790,1,0000000000.00

In [5]:
###################################
###Importacao do Quadro404.xlsx ###
####que serão usados para fins#####
######### de comparação ###########
###################################

#Pasta Cod_SUSEP
arq_entcod = pd.read_excel('Quadro404.xlsx','Cod_SUSEP',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta MRFMESANO
arq_mrfmesano = pd.read_excel('Quadro404.xlsx','MRFMESANO',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta TPMORESSID
arq_tpmoressid = pd.read_excel('Quadro404.xlsx','TPMORESSID',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta RAMCODIGO
arq_ramcod = pd.read_excel('Quadro404.xlsx','RAMCODIGO',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta MSABASEIND
arq_msabaseind = pd.read_excel('Quadro404.xlsx','MSABASEIND',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta MSATIPOPERA
arq_msatipopera = pd.read_excel('Quadro404.xlsx','MSATIPOPERA',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta MSAMODCONT
arq_msamodcont = pd.read_excel('Quadro404.xlsx','MSAMODCONT',fileEncoding = "UTF-8",encoding = 'latin_1')

#Pasta MSAMOEDA
arq_msamoeda = pd.read_excel('Quadro404.xlsx','MSAMOEDA',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta MSATIPOCONT
arq_msatipocont = pd.read_excel('Quadro404.xlsx','MSATIPOCONT',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

#Pasta MSATIPOSIN
arq_msatiposin = pd.read_excel('Quadro404.xlsx','MSATIPOSIN',fileEncoding = "UTF-8",encoding = 'latin_1', dtype=str)

In [6]:
# Criando uma lista para guardar todas as criticas impeditivas
criticas_impeditivas = []
criticas = []

# Criticas 404 (Validacoes)

In [7]:
#8043.2 Verifica o tamanho padrão da linha (deve conter 133 caracteres)
tamanho = 0
for i in range(0,df_main.shape[0]):                    #Passando por cada linha
    for iten in df_main.columns:                       #Passando por cada coluna
        tamanho = tamanho + len(df_main[iten][i])      #Contando Caracteres por linha
    if tamanho != 133:
        print('Erro na linha ',i,' o número de caracteres é de: ',tamanho)
        critica8043_2 = ("Critica 8043.2, Erro na linha ",i," o número de caracteres é de: ",tamanho)
        criticas_impeditivas.append(critica8043_2)
    tamanho = 0

In [8]:
#8043.3 Verifica se o campo sequencial MSASEQ é uma sequência válida, que se inicia em 0000001 
array3 = df_main['MSASEQ']
x = list(array3)                                     ##Dados do arquivo
arrayteste = x[:]
arrayteste.sort()                                    ##Dados sequenciados
if (arrayteste == x):                                ##Comparando
    print('Tudo certo, esta de forma sequencial.')
else: 
    print('ERRO!!!, Não prossiga.')
    critica8043_3 = str('Critica 8043.3, Não temos uma sequencia valida na coluna MSASEQ')
    criticas_impeditivas.append(critica8043_3)

Tudo certo, esta de forma sequencial.

In [9]:
#8043.4 Verifica se o campo ENTCODIGO corresponde à sociedade que está enviando o FIP/SUSEP 
entcod = set(arq_entcod['Cod_SUSEP'].astype('str'))                   #Escolhendo a coluna do arquivo modelo
dadosentcod = set(df_main['ENTCODIGO'])                               #Escolhendo a coluna dos dados
for itemtentcod in dadosentcod: 
    if itemtentcod not in entcod:
        print('ERRO!! ENTCODIGO não corresponde a uma operação valida', itemtentcod)
        critica8043_4 = ('Critica 8043.4, ENTCODIGO não corresponde a uma operação valida', itemtentcod)
        criticas_impeditivas.append(critica8043_4)
    else:
        print('ENTCODIGO corresponde a um tipo de operação válida.', itemtentcod)
        continue

ENTCODIGO corresponde a um tipo de operação válida. 38270

In [10]:
#8043.5 Verifica se o campo MRFMESANO corresponde, respectivamente, ao ano, mês e último dia do mês de referência do FIP/SUSEP
try:
    mr = (df_main['MRFMESANO'] + '01')
    mr = pd.to_datetime(mr)
    print(mr)
except ValueError:
    print('ERROOO!! MRFMESANO corresponde a um ano e mês válidos')
    critica8043_5 = ('Critica 8043.5, MRFMESANO corresponde a um ano e mês válidos')
    criticas_impeditivas.append(critica8043_5)

0      2019-01-01
1      2019-01-01
2      2019-01-01
3      2019-01-01
4      2019-01-01
          ...
1063   2019-03-01
1064   2019-03-01
1065   2019-03-01
1066   2019-03-01
1067   2019-03-01
Name: MRFMESANO, Length: 1068, dtype: datetime64[ns]

In [11]:
#8043.6 Verifica se o campo TPMORESSID corresponde a um tipo de movimento válido (conforme tabela 'TiposMovimentosResseguros' do FIPSUSEP) 
tpmoressid = set(arq_tpmoressid['TPMORESSID'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadostpmoressid = set(df_main['TPMORESSID'])                                 #Escolhendo a coluna dos dados
for itemtpmoressid in dadostpmoressid: 
    if itemtpmoressid not in tpmoressid:
        print('ERRO!! TPMORESSID não corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP) ', itemtpmoressid)
        critica8043_6 = ('Critica 8043.6, TPMORESSID não corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP) ', itemtpmoressid)
        criticas_impeditivas.append(critica8043_6)
    else:
        print('TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP) ', itemtpmoressid)
        continue

TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP)  007
TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP)  003
TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP)  002
TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP)  006
TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP)  001
TPMORESSID corresponde a um tipo de movimento válido (conforme tabela TiposMovimentosResseguros do FIPSUSEP)  005

In [12]:
#8043.7 Verifica se o campo GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador
ramcod = set(arq_ramcod['graCodigo'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadosramcod = set(df_main['GRACODIGO'])                                 #Escolhendo a coluna dos dados
for itemramcod in dadosramcod: 
    if itemramcod not in ramcod:
        print('ERRO!! GRACODIGO não corresponde a um grupo de ramos válido operado pelo ressegurador', itemramcod)
        critica8043_7 = ('Critica 8043.7, GRACODIGO não corresponde a um grupo de ramos válido operado pelo ressegurador', itemramcod)
        criticas_impeditivas.append(critica8043_7)
    else:
        print('GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador', itemramcod)
        continue

GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 06
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 03
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 07
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 11
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 05
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 01
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 09
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 15
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 19
GRACODIGO corresponde a um grupo de ramos válido operado pelo ressegurador 14

In [13]:
#8043.8 Verifica se o campo MSATIPOPERA foi preenchido com um tipo de operação válido 
msatipopera = set(arq_msatipopera['MSATIPOPERA'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadosmsatipopera = set(df_main['MSATIPOPERA'])                                 #Escolhendo a coluna dos dados
for itemmsatipopera in dadosmsatipopera: 
    if itemmsatipopera not in msatipopera:
        print('ERRO!! MSATIPOPERA não foi preenchido com um tipo de operação válido', itemmsatipopera)
        critica8043_8 = ('Critica 8043.8, MSATIPOPERA não foi preenchido com um tipo de operação válido', itemmsatipopera)
        criticas_impeditivas.append(critica8043_8)
    else:
        print('MSATIPOPERA foi preenchido com um tipo de operação válido', itemmsatipopera)
        continue

MSATIPOPERA foi preenchido com um tipo de operação válido 1
MSATIPOPERA foi preenchido com um tipo de operação válido 2

In [14]:
#8043.9 Verifica se o campo MSATIPOCONT foi preenchido com um tipo de contrato válido
msatipocont = set(arq_msatipocont['MSATIPOCONT'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadosmsatipocont = set(df_main['MSATIPOCONT'])                                 #Escolhendo a coluna dos dados
for itemmsatipocont in dadosmsatipocont: 
    if itemmsatipocont not in msatipocont:
        print('ERRO!! MSATIPOCONT não foi preenchido com um tipo de contrato válido', itemmsatipocont)
        critica8043_9 = ('Critica 8043.9, MSATIPOCONT não foi preenchido com um tipo de contrato válido', itemmsatipocont)
        criticas_impeditivas.append(critica8043_9)
    else:
        print('MSATIPOCONT foi preenchido com um tipo de contrato válido', itemmsatipocont)
        continue

MSATIPOCONT foi preenchido com um tipo de contrato válido 1
MSATIPOCONT foi preenchido com um tipo de contrato válido 2

In [15]:
#8043.11 Verifica se os campos MSADATAOCORR, MSADATACOMUNICA e MSADATAREG correspondem a uma data válida. Nos casos em que a modalidade do contrato seja 'Proporcional: cota parte' (MSAMODCONT 1) ou 'Proporcional: ER' (MSAMODCONT 2), os campos podem ser preenchidos com '99999999' 

#####################################################
##Readicionando as colunas de Data de str para date##
#####################################################

'''
df_main.loc[:,'DTMSADATAOCORR'] = df_main['MSADATAOCORR'].astype('datetime64')
df_main.loc[:,'DTMSADATACOMUNICA'] = df_main['MSADATACOMUNICA'].astype('datetime64')
df_main.loc[:,'DTMSADATAREG'] = df_main['MSADATAREG'].astype('datetime64')
'''

#Adicionado colunas DTMSADATAOCORR, DTMSADATACOMUNICA e DTMSADATAREG no tipo Date

mask11_date = (df_main['MSADATAOCORR'] == '99999999') | (df_main['MSADATACOMUNICA'] == '99999999') | (df_main['MSADATAREG'] == '99999999')
mask11_msamodcont = (df_main['MSAMODCONT'] != '01') & (df_main['MSAMODCONT'] != '02')
mask11 = (mask11_date) & (mask11_msamodcont)
df11 = df_main.loc[mask11]
if len(df11) > 0:
    df11.loc[:,'ID da Critica'] = ('CRITICA 8043.11')
    df_criticas_i.append(df11)
df11

Empty DataFrame
Columns: [MSASEQ, ENTCODIGO, MRFMESANO, TPMORESSID, GRACODIGO, MSATIPOPERA, MSANUMSIN, MSANUMCONT, MSATIPOCONT, MSACODCESS, MSADATACOMUNICA, MSADATAREG, MSADATAOCORR, MSAVALORMOV, MSATIPOSIN, MSAMODCONT, MSAMOEDA, MSABASEIND, MSAVALORMON]
Index: []

In [16]:
#8043.12  Verifica se o valor dos campos MSAVALORMOV e MSAVALORMON é float 

###########################################
##Readicionando as colunas str para float##
###########################################

df_main.loc[:,'fMSAVALORMOV'] = df_main['MSAVALORMOV'].astype('float64')
df_main.loc[:,'fMSAVALORMON'] = df_main['MSAVALORMON'].astype('float64')

#Adicionado colunas fESRVALORMOV e fESRVALORMON no tipo Float

In [17]:
#8043.13 Verifica se o campo MSATIPOSIN foi preenchido com um tipo de sinistro válido 
msatiposin = set(arq_msatiposin['MSATIPOSIN'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadosmsatiposin = set(df_main['MSATIPOSIN'])                                 #Escolhendo a coluna dos dados
for itemmsatiposin in dadosmsatiposin: 
    if itemmsatiposin not in msatiposin:
        print('ERRO!! MSATIPOSIN não foi preenchido com um tipo de sinistro válido', itemmsatiposin)
        critica8043_13 = ('Critica 8043.13, MSATIPOSIN não foi preenchido com um tipo de sinistro válido', itemmsatiposin)
        criticas_impeditivas.append(critica8043_13)
    else:
        print('MSATIPOSIN foi preenchido com um tipo de sinistro válido', itemmsatiposin)
        continue

MSATIPOSIN foi preenchido com um tipo de sinistro válido 1

In [18]:
#8043.14 Verifica se o campo MSAMODCONT foi preenchido com uma modalidade de contrato válida, exceto nos casos em que o tipo de contrato seja ‘Facultativo’, quando o campo deve ser preenchido com ‘99’ 
msamodcont = set(arq_msamodcont['MSAMODCONT'].astype('int64'))                 #Escolhendo a coluna do arquivo modelo
dadosmsamodcont = set(df_main['MSAMODCONT'].astype('int64'))                                 #Escolhendo a coluna dos dados
for itemmsamodcont in dadosmsamodcont: 
    if itemmsamodcont not in msamodcont:
        print('ERRO!! MSAMODCONT não foi preenchido com uma modalidade de contrato válida', itemmsamodcont)
        critica8043_14 = ('Critica 8043.14, MSAMODCONT não foi preenchido com uma modalidade de contrato válida', itemmsamodcont)
        criticas_impeditivas.append(critica8043_14)
    else:
        print('MSAMODCONT foi preenchido com uma modalidade de contrato válida', itemmsamodcont)
        continue

MSAMODCONT foi preenchido com uma modalidade de contrato válida 1
MSAMODCONT foi preenchido com uma modalidade de contrato válida 2
MSAMODCONT foi preenchido com uma modalidade de contrato válida 3
MSAMODCONT foi preenchido com uma modalidade de contrato válida 99
MSAMODCONT foi preenchido com uma modalidade de contrato válida 4

In [19]:
#8043.15 Verifica se o campo MSAMOEDA foi preenchido com uma moeda válida 
msamoeda = set(arq_msamoeda['Código'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadosmsamoeda = set(df_main['MSAMOEDA'])                                 #Escolhendo a coluna dos dados
for itemmsamoeda in dadosmsamoeda: 
    if itemmsamoeda not in msamoeda:
        print('ERRO!! MSAMOEDA não foi preenchido com uma moeda válida', itemmsamoeda)
        critica8043_15 = ('Critica 8043.15, MSAMOEDA não foi preenchido com uma moeda válida', itemmsamoeda)
        criticas_impeditivas.append(critica8043_15)
    else:
        print('MSAMOEDA foi preenchido com uma moeda válida', itemmsamoeda)
        continue

MSAMOEDA foi preenchido com uma moeda válida 790
MSAMOEDA foi preenchido com uma moeda válida 220

In [20]:
#8043.16 Verifica se o campo MSABASEIND foi preenchido com uma base indenitária válida
msabaseind = set(arq_msabaseind['MSABASEIND'].astype('str'))                 #Escolhendo a coluna do arquivo modelo
dadosmsabaseind = set(df_main['MSABASEIND'])                                 #Escolhendo a coluna dos dados
for itemmsabaseind in dadosmsabaseind: 
    if itemmsabaseind not in msabaseind:
        print('ERRO!! MSABASEIND não foi preenchido com uma base indenitária válida', itemmsabaseind)
        critica8043_16 = ('Critica 8043.16, MSABASEIND não foi preenchido com uma base indenitária válida', itemmsabaseind)
        criticas_impeditivas.append(critica8043_16)
    else:
        print('MSABASEIND foi preenchido com uma base indenitária válida', itemmsabaseind)
        continue

MSABASEIND foi preenchido com uma base indenitária válida 1
MSABASEIND foi preenchido com uma base indenitária válida 2

In [21]:
criticas_impeditivas  #Lista das criticas impeditivas

[]

In [22]:
df_criticas_i = pd.DataFrame(criticas_impeditivas)     #criacao do DataFrame das criticas impeditivas
df_criticas_i = df_criticas_i.rename(columns={0:'Descrição'})
df_criticas_i

Empty DataFrame
Columns: []
Index: []

In [23]:
if criticas_impeditivas == []:                             # Verificando se a lista de criticas esta vazia
    print('Nenhuma Critica Impeditiva encontrada no Quadro 404')
else:
    print('Foi encontrada uma ou mais Criticas Impeditivas no Quadro 404')
    df_criticas_i.to_csv('Criticas_Impeditivas_404.csv')   # Gerando csv das criticas impeditivas

Nenhuma Critica Impeditiva encontrada no Quadro 404

# Criticas (Validacoes) Não Impeditivas

In [24]:
# Criando DataFrame copia com Campos MSATIPOPERA, MSACODCESS no formato int
df_mains = df_main.copy()
df_mains['MSATIPOPERA'] = df_mains['MSATIPOPERA'].astype('int64')
df_mains['MSACODCESS'] = df_mains['MSACODCESS'].astype('int64')

In [25]:
#8043.10 Verifica se o campo MSACODCESS corresponde a um código de sociedade válido ou ‘99999’ e valida a correspondência entre os campos MSATIPOPERA e MSACODCESS
relacao10_1 = df_mains[(df_mains['MSATIPOPERA'] == 1) & (df_mains['MSACODCESS'].values < 1) & (df_mains['MSACODCESS'].values > 19999)] 
relacao10_2 = df_mains[(df_mains['MSATIPOPERA'] == 2) & (df_mains['MSACODCESS'].values < 30000) & (df_mains['MSACODCESS'].values > 59999)]

In [26]:
i = 21   #Definindo numero de colunas

# Adicionando criticas com Relação MSATIPOPERA_MSACODCESS em desacordo
if relacao10_1.shape != (0,i): 
    critica7392_10_1 = ('Critica 8043.10_1, Relação MSATIPOPERA_MSACODCESS em desacordo') 
    criticas.append(critica7392_10_1)
elif relacao10_2.shape != (0,i): 
    critica7392_10_2 = ('Critica 8043.10_2, Relação MSATIPOPERA_MSACODCESS em desacordo')
    criticas.append(critica7392_10_2)

else: print('Relação MSATIPOPERA_MSACODCESS de acordo')

Relação MSATIPOPERA_MSACODCESS de acordo

In [27]:
#8043.17 Exceto nos casos em que as datas foram preenchidas com '99999999', verifica se a data do campo MSADATAOCORR é igual ou anterior à data dos campos MSADATACOMUNICA
mask17 = (df_main['MSADATAOCORR'].astype('int64')) > (df_main['MSADATACOMUNICA'].astype('int64'))
df17 = df_main.loc[mask17]
if len(df17) > 0:
    df17.loc[:,'ID da Critica'] = ('CRITICA 8043.17')
df17

Empty DataFrame
Columns: [MSASEQ, ENTCODIGO, MRFMESANO, TPMORESSID, GRACODIGO, MSATIPOPERA, MSANUMSIN, MSANUMCONT, MSATIPOCONT, MSACODCESS, MSADATACOMUNICA, MSADATAREG, MSADATAOCORR, MSAVALORMOV, MSATIPOSIN, MSAMODCONT, MSAMOEDA, MSABASEIND, MSAVALORMON, fMSAVALORMOV, fMSAVALORMON]
Index: []

[0 rows x 21 columns]

In [28]:
#8043.18 Exceto nos casos em que as datas foram preenchidas com '99999999', verifica se a data do campo MSADATACOMUNICA é igual ou anterior à data do campo MSADATAREG
mask18 = (df_main['MSADATACOMUNICA'].astype('int64')) > (df_main['MSADATAREG'].astype('int64'))
df18 = df_main.loc[mask18]
if len(df18) > 0:
    df18.loc[:,'ID da Critica'] = ('CRITICA 8043.18')
df18

Empty DataFrame
Columns: [MSASEQ, ENTCODIGO, MRFMESANO, TPMORESSID, GRACODIGO, MSATIPOPERA, MSANUMSIN, MSANUMCONT, MSATIPOCONT, MSACODCESS, MSADATACOMUNICA, MSADATAREG, MSADATAOCORR, MSAVALORMOV, MSATIPOSIN, MSAMODCONT, MSAMOEDA, MSABASEIND, MSAVALORMON, fMSAVALORMOV, fMSAVALORMON]
Index: []

[0 rows x 21 columns]

In [29]:
#8043.19 Exceto nos casos em que as datas foram preenchidas com '99999999', se o tipo de movimento for 'Aviso de Sinistro', verifica se o mês e ano da data do campo MSADATAREG é igual ao mês e ano da data do campo MRFMESANO
mask19_rel = (df_main['MSADATAREG'] != '99999999') & (df_main['TPMORESSID'] == '012')
df19_rel = df_main.loc[mask19_rel]
df19_rel['MRFMESANO'] = (df19_rel['MRFMESANO'] + '01')
maskmr = (df19_rel['MRFMESANO'].astype('datetime64')).dt.strftime("%Y-%m")
maskdtreg = (df19_rel['MSADATAREG'].astype('datetime64')).dt.strftime("%Y-%m")

mask19 = ((maskdtreg) > (maskmr))
df19 = df19_rel.loc[mask19]
if len(df19) > 0:
    df19.loc[:,'ID da Critica'] = ('CRITICA 8046.19')
df19

Empty DataFrame
Columns: [MSASEQ, ENTCODIGO, MRFMESANO, TPMORESSID, GRACODIGO, MSATIPOPERA, MSANUMSIN, MSANUMCONT, MSATIPOCONT, MSACODCESS, MSADATACOMUNICA, MSADATAREG, MSADATAOCORR, MSAVALORMOV, MSATIPOSIN, MSAMODCONT, MSAMOEDA, MSABASEIND, MSAVALORMON, fMSAVALORMOV, fMSAVALORMON]
Index: []

[0 rows x 21 columns]

In [30]:
#8043.20 Verifica se o valor do campo MSAVALORMOV é igual ou maior do que zero, exceto para os tipos de movimento 'Reavaliação de Sinistros' 3 ou 'Reavaliação de Salvados ou de Ressarcimento' 4, que podem assumir valor negativo.
mask20_valormov = ((df_main['TPMORESSID'] == '001') | (df_main['TPMORESSID'] == '002') | (df_main['TPMORESSID'] == '005') | (df_main['TPMORESSID'] == '006') |(df_main['TPMORESSID'] == '007') | (df_main['TPMORESSID'] == '008') |(df_main['TPMORESSID'] == '009') | (df_main['TPMORESSID'] == '010') |(df_main['TPMORESSID'] == '011'))
mask20 = (mask20_valormov) & (df_main['fMSAVALORMOV'] < 0.0)
df20 = df_main.loc[mask20]
if len(df20) > 0:
    df20.loc[:,'ID da Critica'] = ('CRITICA 8043.20')
df20

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,MSASEQ,ENTCODIGO,MRFMESANO,TPMORESSID,GRACODIGO,MSATIPOPERA,MSANUMSIN,MSANUMCONT,MSATIPOCONT,MSACODCESS,...,MSADATAOCORR,MSAVALORMOV,MSATIPOSIN,MSAMODCONT,MSAMOEDA,MSABASEIND,MSAVALORMON,fMSAVALORMOV,fMSAVALORMON,ID da Critica
52,0000053,38270,201901,006,01,1,99999999999999999999,00000000001133515_20150901,1,05321,...,99999999,-000040529.81,1,01,790,1,0000000000.00,-40529.81,0.0,CRITICA 8043.20
84,0000085,38270,201901,006,01,1,0000000000IC01533665,00000000001136971_20151001,2,06785,...,20151213,-000003032.16,1,99,790,1,0000000000.00,-3032.16,0.0,CRITICA 8043.20
103,0000104,38270,201901,006,01,1,0000000000IC01547164,00000000001136971_20151001,2,06785,...,20160323,-000001559.52,1,99,790,1,0000000000.00,-1559.52,0.0,CRITICA 8043.20
252,0000253,38270,201901,006,06,1,0000000000IC01594927,00000000001153087_20160101,1,06751,...,20161027,-000004638.17,1,03,790,2,0000000000.00,-4638.17,0.0,CRITICA 8043.20
346,0000347,38270,201901,006,14,1,0000000000IC01556472,00000000001168344_20160615,2,06785,...,20170221,-000042664.77,1,99,220,1,0000000000.00,-42664.77,0.0,CRITICA 8043.20
486,0000487,38270,201901,006,14,1,0000000000IC01585792,00000000001198651_20170513,2,06238,...,20170914,-000001948.34,1,99,220,1,0000000000.00,-1948.34,0.0,CRITICA 8043.20
634,0000635,38270,201901,005,09,1,99999999999999999999,000000G447314BR-1320180101,1,05908,...,99999999,-000030064.84,1,01,790,1,0000000000.00,-30064.84,0.0,CRITICA 8043.20
667,0000668,38270,201901,006,09,1,000007580-2018.Q2-14,000000G894758BR-1720171001,1,05142,...,20181001,-000044129.67,1,03,790,1,0000000000.00,-44129.67,0.0,CRITICA 8043.20
673,0000674,38270,201901,006,09,1,000007580-2018.Q2-25,000000G894758BR-1720171001,1,05142,...,20180801,-000111601.19,1,03,790,1,0000000000.00,-111601.19,0.0,CRITICA 8043.20
674,0000675,38270,201901,006,09,1,0000007580-2018.Q2-7,000000G894758BR-1720171001,1,05142,...,20180701,-000228000.00,1,03,790,1,0000000000.00,-228000.00,0.0,CRITICA 8043.20
689,0000690,38270,201901,006,09,1,0000007124-2018.Q1-8,000000G931331BR-1720180101,1,05177,...,20181201,-001100000.00,1,03,790,1,0000000000.00,-1100000.00,0.0,CRITICA 8043.20
711,0000712,38270,201902,006,03,1,99999999999999999999,00000000001130842_20170401,1,04669,...,99999999,-000054122.84,1,01,790,1,0000000000.00,-54122.84,0.0,CRITICA 8043.20
742,0000743,38270,201902,006,01,1,0000000000IC01607183,00000000001136971_20141001,2,06785,...,20141030,-000000072.00,1,99,790,1,0000000000.00,-72.00,0.0,CRITICA 8043.20
745,0000746,38270,201902,006,01,1,0000000000IC01533665,00000000001136971_20151001,2,06785,...,20151213,-000003032.16,1,99,790,1,0000000000.00,-3032.16,0.0,CRITICA 8043.20
751,0000752,38270,201902,006,01,1,0000000000IC01547164,00000000001136971_20151001,2,06785,...,20160323,-000001559.52,1,99,790,1,0000000000.00,-1559.52,0.0,CRITICA 8043.20
918,0000919,38270,201902,006,06,1,0000000000IC01561555,00000000001138229_20151101,1,05151,...,20161104,-000008374.56,1,03,790,1,0000000000.00,-8374.56,0.0,CRITICA 8043.20
932,0000933,38270,201902,006,01,1,99999999999999999999,00000000001153905_20150101,1,06602,...,99999999,-000000392.65,1,01,790,1,0000000000.00,-392.65,0.0,CRITICA 8043.20
1042,0001043,38270,201903,006,01,1,0000000000IC01623768,00000000001136971_20171001,2,06785,...,20171226,-000005586.45,1,99,790,1,0000000000.00,-5586.45,0.0,CRITICA 8043.20
1044,0001045,38270,201903,006,01,1,0000000000IC01624188,00000000001136971_20171001,2,06785,...,20180504,-000003104.52,1,99,790,1,0000000000.00,-3104.52,0.0,CRITICA 8043.20
1045,0001046,38270,201903,006,01,1,0000000000IC01624201,00000000001136971_20171001,2,06785,...,20180801,-000000674.89,1,99,790,1,0000000000.00,-674.89,0.0,CRITICA 8043.20
1047,0001048,38270,201903,006,15,1,0000000000IC01554675,00000000001138138_20151101,1,05151,...,20170119,-001104203.49,1,03,220,1,0000000000.00,-1104203.49,0.0,CRITICA 8043.20
1063,0001064,38270,201903,006,09,2,99999999999999999999,00000000015004765_20141001,1,54666,...,99999999,-000079359.80,1,01,790,1,0000000000.00,-79359.80,0.0,CRITICA 8043.20
1065,0001066,38270,201903,006,09,2,99999999999999999999,00000000015004765_20150101,1,54666,...,99999999,-000890094.27,1,01,790,1,0000000000.00,-890094.27,0.0,CRITICA 8043.20

In [31]:
#8043.21 Se o valor do campo MSAVALORMON for diferente de zero, verifica se o tipo de movimento é 'Aviso de Sinistros' ou 'Reavaliação de Sinistros' ou 'Cancelamento de Sinistro' ou 'Reabertura de Sinistro' 
mask21_valormon = ((df_main['TPMORESSID'] == '001') | (df_main['TPMORESSID'] == '003') | (df_main['TPMORESSID'] == '008') | (df_main['TPMORESSID'] == '010'))
mask21 = (mask21_valormon) & (df_main['fMSAVALORMON'] != 0.0)
df21 = df_main.loc[mask21]
if len(df21) > 0:
    df21.loc[:,'ID da Critica'] = ('CRITICA 8043.21')
df21

Empty DataFrame
Columns: [MSASEQ, ENTCODIGO, MRFMESANO, TPMORESSID, GRACODIGO, MSATIPOPERA, MSANUMSIN, MSANUMCONT, MSATIPOCONT, MSACODCESS, MSADATACOMUNICA, MSADATAREG, MSADATAOCORR, MSAVALORMOV, MSATIPOSIN, MSAMODCONT, MSAMOEDA, MSABASEIND, MSAVALORMON, fMSAVALORMOV, fMSAVALORMON]
Index: []

[0 rows x 21 columns]

In [ ]:
#8043.22 Para cada grupo de ramos, compara os valores registrados nos campos MSAVALORMOV e MSAVALORMON com os valores informados no Quadro 06R do FIPSUSEP (tolerância: R$ 1.000,00 ou 1% do valor informado no respectivo campo do Quadro 06R, o que for menor)

In [32]:
#8043.23 Verifica se pelo menos um dos seguintes campos possui valor diferente de zero: MSAVALORMOV e MSAVALORMON 
mask23 = (df_main['fMSAVALORMOV'] == 0.0) & (df_main['fMSAVALORMON'] == 0.0)
df23 = df_main.loc[mask23]
if len(df23) > 0:
    df23.loc[:,'ID da Critica'] = ('CRITICA 8043.23')
df23

Empty DataFrame
Columns: [MSASEQ, ENTCODIGO, MRFMESANO, TPMORESSID, GRACODIGO, MSATIPOPERA, MSANUMSIN, MSANUMCONT, MSATIPOCONT, MSACODCESS, MSADATACOMUNICA, MSADATAREG, MSADATAOCORR, MSAVALORMOV, MSATIPOSIN, MSAMODCONT, MSAMOEDA, MSABASEIND, MSAVALORMON, fMSAVALORMOV, fMSAVALORMON]
Index: []

[0 rows x 21 columns]

In [33]:
#8043.24 Exceto nos casos em que as datas foram preenchidas com '99999999', para o tipo de movimento 'Aviso de Sinistros', verifica se a diferença de dias entre a data dos campos MSADATACOMUNICA e MSADATAREG é de até quinze dias 
mask24_1 = ((df_main['MSADATACOMUNICA'] != '99999999') & (df_main['TPMORESSID'] == '001'))
df24_1 =  df_main.loc[mask24_1]

for item24_1 in (df24_1['MSADATACOMUNICA']):
    try:
        v1 = pd.to_datetime(item24_1)
        print('Valida ',v1)
    except ValueError:
        if item9_2 == '99999999':
            print("Campo preenchido com ",item24_1)
        else:
            print("Campo preenchido com ",item24_1)
            critica8043_24 = ('Critica 8043.24, SLRDATACOMUNICA não correspondem a uma data válida', item24_1)
            criticas_impeditivas.append(critica8043_24)

Valida  2019-01-21 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-02 00:00:00
Valida  2019-01-11 00:00:00
Valida  2019-01-09 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-24 00:00:00
Valida  2019-01-02 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-22 00:00:00
Valida  2019-01-28 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-25 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-24 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-07 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-07 00:00:00
Valida  2019-01-29 00:00:00
Valida  2019-01-28 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-21 00:00:00
Valida  2019-01-22 00:00:00
Valida  2019-01-18 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-01 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-05 00:00:00
Valida  2019-02-04 00:00:00
Valida  2019-02-05 00:00:00
Valida  2019-02-06 00:00:00
Valida  2019-02-06 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-01 00:00:00

In [34]:
mask24_2 = ((df_main['MSADATAREG'] != '99999999') & (df_main['TPMORESSID'] == '001'))
df24_2 =  df_main.loc[mask24_2]

for item24_2 in (df24_2['MSADATAREG']):
    try:
        v2 = pd.to_datetime(item24_2)
        print('Valida ',v2)
    except ValueError:
        if item9_2 == '99999999':
            print("Campo preenchido com ",item24_2)
        else:
            print("Campo preenchido com ",item24_2)
            critica8043_24 = ('Critica 8043.24, SLRDATACOMUNICA não correspondem a uma data válida', item24_2)
            criticas_impeditivas.append(critica8043_24)

Valida  2019-01-21 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-02 00:00:00
Valida  2019-01-11 00:00:00
Valida  2019-01-09 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-24 00:00:00
Valida  2019-01-02 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-16 00:00:00
Valida  2019-01-22 00:00:00
Valida  2019-01-28 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-25 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-24 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-07 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-17 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-07 00:00:00
Valida  2019-01-29 00:00:00
Valida  2019-01-28 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-03 00:00:00
Valida  2019-01-23 00:00:00
Valida  2019-01-21 00:00:00
Valida  2019-01-22 00:00:00
Valida  2019-01-18 00:00:00
Valida  2019-01-04 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-01 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-01-15 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-08 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-15 00:00:00
Valida  2019-02-01 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-05 00:00:00
Valida  2019-02-04 00:00:00
Valida  2019-02-05 00:00:00
Valida  2019-02-06 00:00:00
Valida  2019-02-06 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-12 00:00:00
Valida  2019-02-01 00:00:00

In [ ]:
comparacao = (v1 + timedelta(days = 15)) < (v2)
if comparacao == True:
    print('ERRO!! A diferença de dias entre a data dos campos MSADATACOMUNICA e MSADATAREG ultrapassa os quinze dias')
    critica8043_24 = ('Critica 8043.24, A diferença de dias entre a data dos campos MSADATACOMUNICA e MSADATAREG ultrapassa os quinze dias')
    criticas.append(critica8043_24)
else:
    print('A diferença de dias entre a data dos campos MSADATACOMUNICA e MSADATAREG é de até quinze dias.')

In [ ]:
################################################
# Adicionando Nome do Criador do output e data #
################################################

df_main.loc[:,'Criador'] = input("Insira seu nome: ") ### insere a coluna com o nome do criador da tabela
data_presente = datetime.now()
df_main.loc[:,'Data do output'] = data_presente ### insere a coluna com a data de criacao da tabela

In [ ]:
df_main

In [ ]:
criticas

In [ ]:
df_criticas = pd.DataFrame(criticas)
df_criticas = df_criticas.rename(columns={0:'Descrição'})
df_criticas

In [ ]:
df_criticas_2 = pd.concat([df17,df18,df20,df21,df23])
df_criticas_2

In [ ]:
if criticas == []:                   # Verificando se a lista de criticas esta vazia
    print('Nenhuma Critica NÃO Impeditiva encontrada no Quadro 404')
else:
    print('Foi encontrada uma ou mais Criticas NÃO Impeditivas no Quadro 404')
    df_criticas.to_csv('Criticas_nao_impeditivas404.csv')     # Gerando csv das criticas impeditivas

In [ ]:
if len(df_criticas_2) == 0:                             # Verificando se o DataFrame de criticas esta vazia
    print('Nenhuma Critica NÃO Impeditiva encontrada no Quadro 404')
else:
    print('Foi encontrada uma ou mais Criticas NÃO Impeditivas no Quadro 404')
    df_criticas_2.to_csv('Criticas_nao_impeditivas404_2.csv')         # Gerando csv das criticas impeditivas

In [ ]:
df_main.to_csv('404_Trabalho.csv')

# Testes

In [ ]:
mask19_datareg = (df_main['MSADATAREG'].apply(lambda x: x[0:6]))
mask19_datareg = ((df_main['TPMORESSID'] == '001') & (mask19_datareg != '999999'))
#mask19_datar = (mask19_datare) != (df_main['MRFMESANO'])
mask19 = (mask19_datareg) != ()
df19 = df_main.loc[mask19_datareg]
if len(df19) > 0:
    df19.loc[:,'ID da Critica'] = ('CRITICA 8043.19')
df19

In [ ]:
mask19_datareg = (df_main['MSADATAREG'].apply(lambda x: x[0:6]))
x = ((mask19_datareg != '999999') & (df_main['TPMORESSID'] == '001'))
df19_1 = df_main.loc[x]
df19_1

In [ ]:
df_mains.loc[:,'MSADATAREG_2'] = (df19_1['MSADATAREG'].apply(lambda x: x[0:6]))
df_mains.loc[:,'MRFMESANO_2'] = (df_main['TPMORESSID'] == '001') & (df_main['MRFMESANO'])

In [ ]:
df_mains['MRFMESANO_2'] = pd.to_datetime(df_main['MRFMESANO'],format = '%YYYY - %mm')

In [ ]:
mask19 = ((df_mains['MRFMESANO_2']) != (df_mains['MSADATAREG_2']))
df001 = df_main.loc[mask19]
df001